html {
        background-color: grey;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
}

.playField {
    margin: 50px;
    width: 90%;
    height : 600px;
    background-color: white;
}

#creature_1 {
    position: relative;
    left: 0px;
    top: 250px;
    animation: creature_travel 20s linear 2s 1;
}

@keyframes creature_travel {
    0% {left: 0px; top: 250px;}
    20% {left: 30px; top: 450px;}
    40% {left: 170px; top: 100px;}
    60% {left: 450px; top: 80px;}
    80% {left: 600px; top: 450px;}
    100% {left: 900px; top: 250px;}
    
}